
    <article class="authormessage">
        <p><span>辛丙亮&nbsp;&nbsp;出品;</span>&nbsp;&nbsp;Tel:15102724518;&nbsp;&nbsp;QQ:709464835</p>
        <p>全站代码托管地址(GitHub)&nbsp;&nbsp;<a href="https://github.com/xinbingliang/jie" target="_blank">接下去</a>&nbsp;&nbsp;;期待更多人加入！</p>
    </article>
</footer>
<!--        <section class="hover">
            <a href="#">回到顶部</a>
            <a>BUG报告</a>
        </section>-->
</section>
</body>
<!--自己编写的-->
    <script src="<?php echo INLET;?>App/View/js/goodsdiscuss.js"></script>
<script src="<?php echo INLET;?>App/View/js/outface.js"></script>
<script src="<?php echo INLET;?>App/View/js/pushgoods.js"></script>
<script src="<?php echo INLET;?>App/View/js/getmore.js"></script>
<script src="<?php echo INLET;?>App/View/js/unslider.min.js"></script>
<script src="<?php echo INLET;?>App/View/js/myunslider.js"></script>
<script src="<?php echo INLET;?>App/View/js/userpage.js"></script>
</html>