<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接下去</title>
    <script src="js/jquery1.12.1.js"></script>
    <script src="js/unslider.min.js"></script>
    <link href="./style/goods.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<section class="page">
    <!-- 页面头 -->
    <header class="header">
        <nav>
            <li><h1 class="logo"><span>接</span>下去</h1></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">免费物品</a></li>
            <li><a href="#">付费物品</a></li>
            <li><a href="#" target="_blank">全站信息</a></li>
            <li>
                <form class="search">
                    <input type="search" placeholder="搜索在这里" name="search" class="search"/>
                    <input type="submit" value="搜索" class="searchbottom">
                </form>
            </li>
            <li>
                <button class="register" id="register">注&nbsp;册</button>&nbsp;&nbsp;&nbsp;
                <button class="login" id="login">登&nbsp;录</button>
            </li>
        </nav>
    </header>
    <!-- 页面中间位置 -->
    <article class="content">
        <!-- 单品展示位置 -->
        <section class="left">
            <div class="goods">
<!--                <h3>品名</h3>-->
                <p class="discript">描述信息</p>
                <!-- 图片轮播 -->
                <div class="banner" id="unslider">
                    <ul>
                        <li><img src="1.jpg" alt="" width="400" height="400" ></li>
                        <li><img src="1.jpg" alt="" width="400" height="400" ></li>
                        <li><img src="1.jpg" alt="" width="400" height="400" ></li>
                        <li><img src="1.jpg" alt="" width="400" height="400" ></li>
                    </ul>
                    <a href="javascript:void(0);" class="unslider-arrow prev"><img class="arrow" id="al" src="./img/arrowl.png" alt="prev" width="20" height="35"></a>
                    <a href="javascript:void(0);" class="unslider-arrow next"><img class="arrow" id="ar" src="./img/arrowr.png" alt="next" width="20" height="37"></a>
                </div>
                <!-- 图片轮播结束 -->
                <div class="price"><span>售卖</span><span>199￥</span><span>还有1天到期</span></div>
                <div class="godsmessage">
                    <ul>
                        <li>111评论</li>
                        <li>123赞</li>
                        <li>获得</li>
                    </ul>
                    <section class="send">
                        <form action="" method="post">
                            <span>头像</span>
                            <label for="entersend">
                                <input id="entersend" name="entersend" type="text" placeholder="评论"/>
                            </label>
                            <input type="submit" value="评论" class="submit"/>
                        </form>
                    </section>
                    <!-- 用户评论区 -->
                    <section class="comment">
                        <article>
                            <div>头像</div>
                            <div class="message">
                                <p><span>用户名</span>:<span>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</span></p>
                                <p><span>2015-4-13 12:35:12</span><button>回复</button></p>
                            </div>
                        </article>
                        <article>
                            <div>头像</div>
                            <div class="message">
                                <p><span>用户名</span>:<span>评论内容评论内容</span></p>
                                <p><span>2015-4-13 12:35:12</span><button>回复</button></p>
                            </div>
                        </article>
                        <article>
                            <div>头像</div>
                            <div class="message">
                                <p><span>用户名</span>:<span>评论内容评论内容</span></p>
                                <p><span>2015-4-13 12:35:12</span><button>回复</button></p>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </section>
        <!-- 简单的用户信息 -->
        <section class="blown">
            <article>
                <div class="img"></div>
                <p>发贴时间:&nbsp;&nbsp;<span class="time">2015-11-29 11:22:12</span></p>
                <p><span class="type">姓名:&nbsp;&nbsp;</span><span>辛丙亮</span></p>
                <p><span class="type">性别:&nbsp;&nbsp;</span><span>男</span></p>
                <p><span>积分:&nbsp;&nbsp;123</span>&nbsp;&nbsp;=&nbsp;&nbsp;123￥</p>
                <a href="javascript:void(0);">发起聊天</a>
            </article>
        </section>
    </article>

    <!-- 页面脚 -->
    <footer class="footer">
        <article class="authormessage">
            <p><span>辛丙亮&nbsp;&nbsp;出品;</span>&nbsp;&nbsp;Tel:15102724518;&nbsp;&nbsp;QQ:709464835</p>
            <p>全站代码开放,代码托管地址(GitHub)&nbsp;&nbsp;<a href="https://github.com/xinbingliang/jie" target="_blank">接下去</a>&nbsp;&nbsp;;期待更多人加入！</p>
        </article>
    </footer>
</section>
</body>
<script src="js/myunslider.js"></script>
</html>