.content {
  border-radius: 1px solid red;
  margin: 4.5em auto;
}
.left {
  display: block;
  float: left;
  /*  background-color: #abcdef;*/
  width: 50%;
  line-height: 1.4em;
  margin-bottom: .5em;
}
.left .goods {
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*    background-color: #cccccc;*/
  /*    padding:0 1em 1em 1em;*/
  width: 400px;
  position: relative;
  left: 30%;
  /* 品名 */
  /* 图像轮播样式 */
  /* 图像轮播结束 */
  /* 描述信息 */
  /* 描述信息结束 */
  /* 菜单栏 */
  /*    .price{
!*      background-color: darkblue;*!
      span{
        display: inline-block;
        &:nth-child(2){
          margin-left: .4em;
        }
      }
      .buy{
        display: inline-block;
        margin-left: 5em;
      }
    }*/
  /* 评论内容 */
}
.left .goods h3 {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  background-color: #929582;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  height: 2em;
  line-height: 2em;
}
.left .goods .banner {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  text-align: center;
  /* 根据图片做调整 */
  width: 360px;
}
.left .goods .banner #al {
  left: 15px;
}
.left .goods .banner #ar {
  right: 15px;
}
.left .goods .banner ul,
.left .goods .banner ol {
  padding: 0;
}
.left .goods .banner .arrow {
  position: absolute;
  top: 180px;
}
.left .goods .banner li {
  list-style: none;
}
.left .goods .banner ul li {
  float: left;
}
.left .goods .banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.left .goods .banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.left .goods .banner .dots li.active {
  background: #fff;
  opacity: 1;
}
.left .goods .discript {
  /*      border: 1px solid darkred;*/
  width: 90%;
  margin: 0 auto;
  color: #666666;
  margin-bottom: .4em;
  line-height: 1.4em;
  position: relative;
  display: block;
}
.left .goods .discript span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4em;
  display: block;
  color: #aaaaaa;
  /*        background-color: #abcdef;*/
  font-size: .8em;
}
.left .goods .menu {
  /*background-color: red;*/
  height: 1.5em;
  line-height: 1.5em;
}
.left .goods .menu li {
  /*        background-color: #abcdef;*/
  width: 25%;
  float: left;
  text-align: center;
  -webkit-box-shadow: 0px 0px 1px #cccccc;
  -moz-box-shadow: 0px 0px 1px #cccccc;
  box-shadow: 0px 0px 1px #cccccc;
}
.left .goods .menu li a {
  width: 100%;
  display: inline-block;
  color: #5a5d63;
}
.left .goods .godsmessage ul {
  display: block;
}
.left .goods .godsmessage ul li {
  text-align: center;
  width: 33%;
  display: inline-block;
  float: left;
  /*          border-right: 1px dashed black;*/
}
.left .goods .godsmessage ul li:last-child {
  border: none;
}
.left .goods .godsmessage .send {
  width: 98%;
  margin: 0 auto;
}
.left .goods .godsmessage .send form {
  color: #717171;
  margin-top: .3em;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.left .goods .godsmessage .send form #entermessage {
  margin-left: 3.6em;
  color: orange;
}
.left .goods .godsmessage .send form img {
  display: block;
  float: left;
  width: 12%;
  height: 45px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}
.left .goods .godsmessage .send form label {
  float: right;
  display: block;
  height: 45px;
  line-height: 45px;
  /*background-color: #ffffff;*/
  width: 88%;
}
.left .goods .godsmessage .send form label #entersend {
  color: #717171;
  margin-left: 2%;
  width: 97%;
  line-height: 1.6em;
  font-size: 1em;
}
.left .goods .godsmessage .send form .submit {
  float: right;
  display: block;
  margin-bottom: .5em;
}
.left .goods .comment {
  margin-top: .8em;
  margin-left: 50px;
  display: block;
}
.left .goods .comment article {
  border-top: 1px solid #c0c0c0;
  margin-bottom: .3em;
  position: relative;
  overflow: auto;
}
.left .goods .comment article img,
.left .goods .comment article div {
  margin-top: .3em;
  color: #717171;
  display: block;
  float: left;
}
.left .goods .comment article img {
  border: none;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  width: 45px;
  height: 45px;
}
.left .goods .comment article div {
  position: relative;
  font-size: 0.95em;
  line-height: 1.2em;
  margin-left: .2em;
  width: 86%;
}
.left .goods .comment article div .distime {
  font-size: .8em;
  color: #919191;
}
.left .goods .comment article div a {
  position: absolute;
  right: .3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: .2em .6em;
  display: inline-block;
  background-color: #5a5d63;
  color: orange;
}
.blown {
  margin-top: 8%;
  margin-left: 6%;
  /*  background-color: dodgerblue;*/
  position: relative;
  width: 20%;
  float: left;
  color: #717171;
}
.blown article div {
  background-color: #685875;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  width: 6em;
  height: 6em;
  background-image: url('../head.jpg');
  margin-bottom: .6em;
}
.blown article p {
  line-height: 1.6em;
}
.blown article p .time {
  color: #fae150;
}
.blown article a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ec5252;
  display: block;
  margin: 1em auto;
  text-align: center;
  line-height: 2em;
  font-size: 1.2em;
  color: #ffffff;
}
